project             = "shopeasy"
environment         = "dev"
location            = "spaincentral"
admin_username      = "azureuser"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
allowed_ssh_cidr    = "X.X.X.X/32"
