project             = "shopeasy"
environment         = "prod"
location            = "spaincentral"
admin_username      = "azureuser"
ssh_public_key_path = "~/.ssh/id_rsa.pub"
allowed_ssh_cidr    = "X.X.X.X/32"
owner               = "formation"
cost_center         = "cloud-training"
vm_count            = 2
vm_size             = "Standard_B2als_v2"
vnet_address_space  = ["10.40.0.0/16"]
web_subnet_prefixes = ["10.40.1.0/24"]
